{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <table class="table">
        <thead>
        <tr>
            {% for key, value in object.userData %}
                <td>{{ key }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for value in object.userData %}
                <td>
                    {% if value is iterable %}
                        {{ value|join }}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}